*{
    padding: 0;
margin: 0;}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
.nav{
    height: 67px;
    background-image:linear-gradient(to right, rgba(115, 185, 142, 0), rgba(0, 173, 116, 0.904));
}

.nav-list{
    width: 70%;
    margin: 0 auto;
}
.nav-buttons-left{
    margin: 23px 10px ;
    float: left; 

}
.nav-buttons-right{
    margin: 23px 10px ;
    float: right; 
    
}

.nav-style{
    text-decoration: none;
    color: rgb(165, 165, 165);
    padding: 10px 30px;
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

.nav-style-left{
    box-shadow: 2px 2px 5px gray;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    background-color: rgb(53, 179, 126);
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-style-left:hover{
    text-decoration: none;
    border-radius: 10px;
    color: rgb(53, 179, 126);
    padding: 10px 30px;
    background-color: white;
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-style:hover{
    text-decoration: none;
    color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(40, 185, 125);
    transition: all 1s;
}

.hero-welcome{

    margin: 0;
    width: 100%;
height: 700px;
    color: rgb(161, 161, 161);
    background-image: linear-gradient(to right, rgba(115, 185, 142, 0), rgba(0, 173, 116, 0.904)), url(../images/hero.jpg);
    background-size: cover;
}

.hero-welcome img{
    width: 100%;
    height: 800px;
}

.greet{
padding-top: 300px;
    margin: 0px 0px;
    text-align: center;
}
.greet h1{
    color: rgb(226, 226, 226);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.greet p{
    margin: 10px 0;
    color: rgb(223, 223, 223);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
}


.about-us{
    margin: 40px 0px;
   width: 100%;
}

.about-us h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(107, 107, 107);
    margin-bottom: 27px;
    font-size: 30px;
}

.about-us-core{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.about-us-core-left{
    color: rgb(129, 129, 129);
    margin-top: 10px;
    font-style: italic;
    font-size: medium;
}
.about-us-core-left h3{
    color: rgb(107, 107, 107);
    font-size: 20px;
    font-weight: bolder;
}
.about-us-core-left .italized{
    color: rgb(129, 129, 129);
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
    width: 80%;
}
.about-us-core-left p{
    color: rgb(129, 129, 129);
    font-style: normal;
    font-size: medium;
    border-spacing: 5px;
}

.services{

    background-color:  rgba(0, 173, 115, 0.034);
    text-align: center;
    padding-bottom: 30px;
    /*  */}
.services h1{
    padding-top: 20px;
    color: rgb(107, 107, 107);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    margin-bottom: 27px;
    font-size: 30px;
}

.services p{
    
    width: 50%;
    color: gray;
}


.services-core-serctions{
padding-top: 20px;
text-align: center;
}
.services-core-serctions span{
    text-align: center;
}

.services-core-serctions p{
width: 100%;
}

.parallax{
  background-image: url("../images/forest-931706_1920.jpg");
  min-height: 220px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.parallax h1{
    font-weight: 100;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px black;
}

.email{
    
    padding: 10px 30px;
    background-color: transparent;
    border: 3px solid white;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.email:hover{
    padding: 10px 30px;
    background-color: transparent;
    border: 3px solid white;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.portfolio{
    margin-bottom: 20px;
}
.portfolio h1{
    font-weight: 100;
    color: rgb(129, 129, 129);
    padding-top: 50px;
    margin-bottom: 25px;
}

.row-section{
    width: 80%;
    padding-top: 40px;
}

  .column {
    display: none;
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
      margin: 0 auto;
    background-color: white;

  }

  .content img{
      border-radius: 5px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #667;
     color: white;
  }

  .footer{
    background-image:linear-gradient(to right, rgba(115, 185, 142, 0), rgba(0, 173, 116, 0.904));
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .footer p{
  padding-top: 10px;
      color: rgb(92, 92, 92);
      margin: 0;
  }